.DS_Store
.vercel
/node_modules/

# React Router
.env
.env.test
.react-router/
*.swp
/build/

# Ignore test results
__screenshots__/diff-*.jpg
# Ignore since we're using pnpm
package-lock.json
# Need to re-generate on the server
prisma/generated
# Used by playwright for persistent context
test/context
