.DS_Store
.vercel
/node_modules/

# React Router
.env
.env.test
.react-router/
*.swp
/build/

# Ignore test results
__screenshots__/*-diff.png
__screenshots__/*-new.png
__screenshots__/*-new.html
# Ignore since we're using pnpm
package-lock.json
# Need to re-generate on the server
prisma/generated
# Used by playwright for persistent context
test/context
